@media only screen and (min-width: 64em ) {
    /*------------------Gallery--------------*/
    fieldset img{
        display: block;
        float: right;
    }
    .reducer{
        grid-column-start: 1;
        grid-row-end: 1;
    }
    .urban{
        grid-column-start: 1;
        grid-row-end: 1;
    }
    .slider .caption p{
        font-size: 20px;
	}

	.slider .caption h1{
		font-size: 40px;
	}

	.left, .right{
		font-size: 40px;
	}
    .services {
        grid-template-columns: 1fr  1fr  1fr;
    }
    .services article:nth-child(3){
        grid-column-end: auto;
    }
  }