@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    header {
        text-align: center;
        padding: 0;
        display: block;
        margin: auto;
    }
    header h1 {
        overflow: auto;
        float: none;
        font-size: 2rem;
    }
    header img {
        width: auto;
        height: auto;
        float: left;
        margin: 2% 0 0 2%;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        margin: 0px;
        overflow: hidden;
        background-color: #E10013;
        padding: 0;
        display: flex;
        flex-flow: row;
        flex: 1 1 auto;
    }
    .navigation > .list {
        display: flex;
        border-bottom: none;
        flex: 1 1 auto;
    }
    .navigation li a {
        padding: 14px 16px;
        display: block;	
        color: #fff;	
        text-decoration: none;
        flex: 1 1 auto;
    }
    .navigation li.active a{
        color: #FFF;
        background-color: #EE7500;
    }
    .navigation li a:hover{
        background-color: #555;
        color: #fff;
    }
    main {
        clear: both;
    }
    main figure img {
        display: block;
        margin: 0;
        width:100%
    }
    table,
    th,
    td,
    thead,
    tbody {
        border: 1px solid #000;
        clear: both;
        width: auto;
        margin: auto;
        border-collapse: collapse;
        padding: 0.45rem;
    }
    article p{
        overflow: auto;
    }

    /*--------------Home--------------*/
    .biking {
    grid-template-columns: 1fr 1fr;
    }
    /*-----------End of Home------------*/
    /*-----------------Services----------------*/
    .services {
        grid-template-columns: 1fr 1fr;
    }
    /*-----------------End of Services---------*/
    /*-------------------bikes------------*/
    .slider .caption p{
        font-size: 15px;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

    /*----------------End of bikes------------*/
    /*-------------------contact--------------*/
    .google-maps iframe{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    /*--------------End of contact------------*/
  }