@media only screen and (min-width: 64em ) {
    .highlow {
        flex: 1 1 auto;
        margin: 1em;
    }
    .conditions {
        max-width: none;
        flex: 1 1 auto;
        margin: 1em;
    }
    /*------------------Gallery--------------*/
     .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    fieldset img{
        display: block;
        float: right;
    }
     article p.town-article img { width: 29.333%; }
  }