@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    header {
        text-align: center;
        padding: 0;
        display: block;
        margin: auto;
    }
    header h1 {
        overflow: auto;
        float: none;
        font-size: 2rem;
    }
    header img {
        width: auto;
        height: auto;
        float: left;
        margin: 2% 0 0 2%;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        margin: 0px;
        overflow: hidden;
        background-color: #3c8ed2;
        padding: 0;
        display: flex;
        flex-flow: row;
        flex: 1 1 auto;
    }
    .navigation > .list {
        display: flex;
        border-bottom: none;
        flex: 1 1 auto;
    }
    .navigation li a {
        padding: 14px 16px;
        display: block;	
        color: #fff;	
        text-decoration: none;
        flex: 1 1 auto;
    }
    .navigation li.active a{
        color: #191919;
        background-color: #b1d1ed;
    }
    .navigation li a:hover{
        background-color: #555;
        color: #fff;
    }
    main {
        clear: both;
    }
    main figure img {
        display: block;
        margin: 0;
        width:100%
    }
    .section1 {
        display: flex;
        flex-flow: row nowrap;
    }
    .header {
        align-self: flex-start;
    }
    .highlow {
        height: 100px;
        margin: 0.5em;
        align-self: center;
    }
    .conditions {
        height: 100px;
        margin: 0.5em;
        align-self: flex-end;
        min-width: 170px;
    }
    .forecast {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
    }
    table,
    th,
    td,
    thead,
    tbody {
        border: 1px solid #000;
        clear: both;
        width: auto;
        margin: auto;
        border-collapse: collapse;
        padding: 0.45rem;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
    article p{
        overflow: auto;
    }
    .breakingNews img{
    float: right;
    width: 330px;
    }
    /*--------------Gallery--------------*/
    .gallery {
    grid-template-columns: 1fr 1fr;
    }
    /*-----------End of Gallery------------*/
    /*-----------------Index----------------*/
    .franklinTowns {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /*-----------------End of Index---------*/
  }